# make gitignore
src/interface/ndb_proxy.moc
src/interface/ndb_proxy.o
src/interface/ndb_proxy.moc.o
qdoc/html/
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
.cache/
compile_commands.json
/res/ndb_version
/KoboRoot.tgz
/libndb.so
/NickelMenu/src/util.o
/NickelMenu/src/action.o
/NickelMenu/src/action_c.o
/NickelMenu/src/kfmon.o
/src/ndb/nickeldbus.o
/src/ndb/NDBDbus.o
/src/ndb/NDBCfmDlg.o
/src/ndb/NDBWidgets.o
/src/ndb/util.o
/NickelMenu/src/action_cc.o
/src/interface/ndb_adapter.o
/src/ndb/NDBDbus.moc
/src/ndb/NDBCfmDlg.moc
/src/ndb/NDBWidgets.moc
/src/interface/ndb_adapter.moc
/src/ndb/NDBDbus.moc.o
/src/ndb/NDBCfmDlg.moc.o
/src/ndb/NDBWidgets.moc.o
/src/interface/ndb_adapter.moc.o
