# make gitignore
src/interface/ndb_proxy.moc
src/interface/ndb_proxy.o
src/interface/ndb_proxy.moc.o
qdoc/html/
.kdev4/
*.kdev4
.kateconfig
.vscode/
.idea/
.clangd/
.cache/
compile_commands.json
/src/interface/ndb_adapter.h
/src/interface/ndb_adapter.cpp
/src/interface/ndb_proxy.h
/src/interface/ndb_proxy.cpp
/src/interface/com.github.shermp.nickeldbus.xml
/res/ndb_version
/KoboRoot.tgz
/libndb.so
/NickelMenu/src/util.o
/NickelMenu/src/action.o
/NickelMenu/src/action_c.o
/NickelMenu/src/kfmon.o
/src/ndb/nickeldbus.o
/src/ndb/ndb.o
/src/ndb/NDBCfmDlg.o
/src/ndb/NDBTouchWidgets.o
/src/ndb/util.o
/NickelMenu/src/action_cc.o
/src/interface/ndb_adapter.o
/src/ndb/ndb.moc
/src/ndb/NDBCfmDlg.moc
/src/interface/ndb_adapter.moc
/src/ndb/ndb.moc.o
/src/ndb/NDBCfmDlg.moc.o
/src/interface/ndb_adapter.moc.o
