# make gitignore

# KDevelop
.kdev4/
NickelDBus.kdev4
.kateconfig

# VSCode
.vscode/

# clangd
compile_flags.txt

# CLI binary
ndb-cli/ndb-cli

# Build artifacts
/KoboRoot.tgz
/src/libndb.so
/src/qtplugin.moc
/src/nickel_dbus.moc
/src/adapter/nickel_dbus_adapter.moc
/src/failsafe.o
/src/semver_c/semver.o
/src/adapter/nickel_dbus_adapter.h
/src/adapter/nickel_dbus_adapter.cc
/src/adapter/local.shermp.nickeldbus.xml
/src/qtplugin_moc.o
/src/nickel_dbus_moc.o
/src/adapter/nickel_dbus_adapter_moc.o



/src/init.o
/src/nickel_dbus.o
/src/adapter/nickel_dbus_adapter.o
